@model List<vb.Data.VoucherPaymentListResponse>

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Expense Voucher Payment Pending List</h3>
        <div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Area" class="col-sm-2 control-label">Cash Option :</label>
                    <div class="col-sm-3">
                        @Html.DropDownList("VoucherGodownID", new SelectList(ViewBag.CashOption, "GodownID", "CashOption", 1), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label>Grand Total : </label>
                <label id="lblvouchergrandtotal" style="padding-right:20px;"></label>
                <button type="button" id="btnsavevoucherpayment" onclick="savevoucherpayment()" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>

    <div class="box-body table-scrollable1">
        <table id="ListDataTable2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="nosort">Customer Name</th>
                    <th class="nosort">Area</th>
                    <th class="nosort">Sales Person</th>
                    <th class="nosort">Bill Number</th>
                    <th class="nosort">Date of Voucher</th>
                    <th class="nosort">Inv. Amount</th>
                    <th class="nosort">Out. Amount</th>
                    <th class="nosort text-center" colspan="3">Payment Mode</th>
                    <th class="nosort text-center"><input type="checkbox" class="chkonlineAllOnline" style="margin-left:5px;margin-right:5px;" /></th>
                    <th class="nosort" colspan="2">Adjust Amt</th>
                    <th class="nosort">Remark</th>
                    <th class="nosort">Select</th>
                    @*<th class="nosort">Add Credit Note</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" id="hdnExpensesVoucherID" class="hdnExpensesVoucherID" value="@item.ExpensesVoucherID" />
                            <input type="hidden" id="hdnVoucherCustomerID" class="hdnVoucherCustomerID" value="@item.CustomerID" />
                            <input type="hidden" id="hdnVoucherOutstandingAmount" class="hdnVoucherOutstandingAmount" value="@item.OutstandingAmount.ToString("0.00")" />
                            <input type="hidden" id="hdnVoucherPaymentAmount" class="hdnVoucherPaymentAmount" value="@item.PaymentAmount.ToString("0.00")" />
                            <input type="hidden" id="hdnVoucherBankName" class="hdnBankName" value="@item.BankName" />
                            <input type="hidden" id="hdnVoucherBankBranch" class="hdnBankBranch" value="@item.BankBranch" />
                            <input type="hidden" id="hdnVoucherChequeNo" class="hdnChequeNo" value="@item.ChequeNo" />
                            <input type="hidden" id="hdnBillNumber" class="hdnBillNumber" value="@item.BillNumber" />
                            @item.CustomerName
                        </td>
                        <td>
                            @item.AreaName
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.BillNumber
                        </td>
                        <td>
                            @item.DateofVoucher.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.PaymentAmount.ToString("0.00")
                        </td>
                        <td style="width:111px;">
                            @item.OutstandingAmount.ToString("0.00")
                            <input type="checkbox" class="chkpay" style="margin-left:5px;" />
                        </td>
                        <td style="width: 110px;">
                            <span>Cash</span>
                            <input type="text" id="txtvouchercashamount" class="form-control txtvouchercashamount" value="@item.ByCash" />
                        </td>
                        <td>
                            <div style="width:130px;">
                                Cheque
                                <input type="checkbox" class="chkcheque" style="margin-left:5px;margin-right:5px;" data-bankname="@item.CustBankName" data-branch="@item.CustBranch" data-ifccode="@item.CustIFCCode" />
                                <input type="button" style="display:none;" id="btnViewChequeDetail" value="View" class="btnpopup btn btn-info" />
                            </div>
                        </td>
                        <td>
                            <div style="width:130px;">
                                Card
                                <input type="checkbox" class="chkcard" style="margin-left:5px;margin-right:5px;" />
                                <input type="button" style="display:none;" id="btnViewCardDetail" value="View" class="btnpopupcard btn btn-info" />
                            </div>
                        </td>
                        <td>
                            <div style="width:130px;">
                                Online
                                <input type="checkbox" class="chkonline" style="margin-left:5px;margin-right:5px;" />
                                <input type="button" style="display:none;" id="btnViewOnlineDetail" value="View" class="btnpopuponline btn btn-info" />
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" class="chkadjustamount" style="margin-left:5px;margin-right:5px;" />
                        </td>
                        <td style="width: 110px;">
                            <input type="text" id="txtvoucheradjustamount" class="form-control txtvoucheradjustamount" value="@item.AdjustAmount" />
                        </td>
                        <td>
                            <input type="text" id="txtvoucherremark" class="form-control" />
                        </td>
                        <td>
                            <input type="checkbox" class="chkselect" />
                        </td>
                        @*<td>
                                <a style='cursor: pointer;' class='Add' data-date="@item.DateofVoucher" data-cid="@item.CustomerID" id="@item.BillNumber">Credit Note</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="ForChequePopup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="btnclosepopup1 close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h4 class="modal-title">Cheque Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <input name="VoucherPaymentID" id="VoucherPaymentID" type="hidden" value="" />
                                <label for="Name" class="col-sm-4 control-label">Bank Name</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="hdnBillNumberForCheque" />
                                    <input type="text" class="form-control" name="VoucherBankName" maxlength="100" id="VoucherBankName" placeholder="Bank Name" tabindex="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="Branch" class="col-sm-4 control-label">Bank Branch</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="VoucherBankBranch" maxlength="100" id="VoucherBankBranch" placeholder="Bank Branch" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="ChequeNo" class="col-sm-4 control-label">Cheque No</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="VoucherChequeNo" maxlength="100" id="VoucherChequeNo" placeholder="Cheque No" tabindex="3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="ChequeDate" class="col-sm-4 control-label">Cheque Date</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" id="VoucherChequeDate" tabindex="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="ChequeNo" class="col-sm-4 control-label">IFC Code</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="VoucherIFCCode" maxlength="100" id="VoucherIFCCode" placeholder="IFC Code" tabindex="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnsavechequedetail btn btn-info">Save</button>
                    <button type="button" class="btnclosechequedetail btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ForCardPopup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="btnclosepopup1 close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h4 class="modal-title">Card Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <input name="VoucherPaymentID" id="VoucherPaymentID" type="hidden" value="" />
                                <label for="Name" class="col-sm-4 control-label">Bank Name</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="hdnBillNumberForCard" />
                                    <input type="text" class="form-control" name="VoucherBankNameForCard" maxlength="100" id="VoucherBankNameForCard" placeholder="Bank Name" tabindex="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="Branch" class="col-sm-4 control-label">Type Of Card</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="VoucherTypeOfCard" maxlength="100" id="VoucherTypeOfCard" placeholder="Type Of Card" tabindex="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnsavecarddetail btn btn-info">Save</button>
                    <button type="button" class="btnclosecarddetail btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ForOnlinePopup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="btnclosepopup1 close" data-dismiss="modal" aria-hidden="true"></button>*@
                    <h4 class="modal-title">Bank Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <input name="VoucherPaymentID" id="VoucherPaymentID" type="hidden" value="" />
                                <label for="Name" class="col-sm-4 control-label">Bank Name</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="hdnBillNumberForOnline" />
                                    <input type="text" class="form-control" name="VoucherBankNameForOnline" maxlength="100" id="VoucherBankNameForOnline" placeholder="Bank Name" tabindex="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="Branch" class="col-sm-4 control-label">UTR Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="VoucherUTRNumber" maxlength="100" id="VoucherUTRNumber" placeholder="UTR Number" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 8px;">
                            <div class="form-group">
                                <label for="OnlineDate" class="col-sm-4 control-label">Date</label>
                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" id="VoucherOnlinePaymentDate" tabindex="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnsaveonlinedetail btn btn-info">Save</button>
                    <button type="button" class="btncloseonlinedetail btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var Checkbank = [];
    var Checkbank2 = [];
    var Checkbank3 = [];
    $('.datepicker').datepicker({
        autoclose: true
    });
    $(document).ready(function () {

        //Cash
        $('.chkpay').change(function (e) {
            debugger;
            if (this.checked) {
                var payment = $($(this).closest('tr').find("input[type=hidden]")[2]).val()
                $(this).closest('tr').find('.chkcheque').prop('checked', false);
                $(this).closest('tr').find('.chkcard').prop('checked', false);
                $(this).closest('tr').find('.chkonline').prop('checked', false);

                // 02 Sep. 2020 Piyush Limbani
                if ($('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").is(':checked')) {
                    $('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").prop('checked', false);
                    $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                        $(row).closest("tr").find(".chkonline").prop('checked', false);
                        $(row).closest("tr").find(".chkselect").prop('checked', false);
                        $($(this).closest('tr').find("input[type=button]")[2]).hide();
                        $(row).find('.txtvouchercashamount').val(0);
                    });
                }
                $(this).closest('tr').find('.txtvouchercashamount').val(payment);
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                // 02 Sep. 2020 Piyush Limbani

                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
                $(this).closest('tr').find('.chkadjustamount').prop('checked', false);
                $(this).closest('tr').find('.txtvoucheradjustamount').val("0");
            }
            else {
                $(this).closest('tr').find('.txtvouchercashamount').val("0");
                $(this).closest('tr').find('.chkselect').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
            }

            var sum = 0;
            $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                debugger;
                var ischk = $(row).find("input[type=checkbox]")[0];
                var ischk2 = $(row).find("input[type=checkbox]")[1];
                var ischk3 = $(row).find("input[type=checkbox]")[2];
                var ischk4 = $(row).find("input[type=checkbox]")[3];
                if ($(ischk).is(':checked') || $(ischk2).is(':checked') || $(ischk3).is(':checked') || $(ischk4).is(':checked')) {
                    sum = +sum + +($(row).find(".txtvouchercashamount").val());
                }
            });
            $("#lblvouchergrandtotal").text(sum);
        });

        //Cheque
        $(".chkcheque").change(function () {
            debugger;
            clearcontents();
            if (this.checked) {
                var BankName = $(this).attr('data-bankname');
                var Branch = $(this).attr('data-branch');
                var Ifccode = $(this).attr('data-ifccode');
                $("#VoucherBankName").val(BankName);
                $("#VoucherBankBranch").val(Branch);
                $("#VoucherIFCCode").val(Ifccode);
                openpopup();
                $("#hdnBillNumberForCheque").val($(this).closest('tr').find(".hdnBillNumber").val());
                $($(this).closest('tr').find("input[type=button]")[0]).show();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
            }
            else {
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                clearcontents();
            }
            if (this.checked) {
                var payment = $($(this).closest('tr').find(".hdnVoucherOutstandingAmount")).val()
                $(this).closest('tr').find('.chkpay').prop('checked', false);
                $(this).closest('tr').find('.chkcard').prop('checked', false);
                $(this).closest('tr').find('.chkonline').prop('checked', false);

                // 02 Sep. 2020 Piyush Limbani
                if ($('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").is(':checked')) {
                    $('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").prop('checked', false);
                    $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                        $(row).closest("tr").find(".chkonline").prop('checked', false);
                        $(row).closest("tr").find(".chkselect").prop('checked', false);
                        $($(this).closest('tr').find("input[type=button]")[2]).hide();
                        $(row).find('.txtvouchercashamount').val(0);
                    });
                }
                $(this).closest('tr').find('.txtvouchercashamount').val(payment);
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                // 02 Sep. 2020 Piyush Limbani

                $(this).closest('tr').find('.chkadjustamount').prop('checked', false);
                $(this).closest('tr').find('.txtvoucheradjustamount').val("0");
            }
            else {
                $(this).closest('tr').find('.txtvouchercashamount').val("0");
                $(this).closest('tr').find('.chkselect').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
            }
            var sum = 0;
            $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                debugger;
                var ischk = $(row).find("input[type=checkbox]")[0];
                var ischk2 = $(row).find("input[type=checkbox]")[1];
                var ischk3 = $(row).find("input[type=checkbox]")[2];
                var ischk4 = $(row).find("input[type=checkbox]")[3];
                if ($(ischk).is(':checked') || $(ischk2).is(':checked') || $(ischk3).is(':checked') || $(ischk4).is(':checked')) {
                    sum = +sum + +($(row).find(".txtvouchercashamount").val());
                }
            });
            $("#lblvouchergrandtotal").text(sum);
        });

        $(".btnsavechequedetail").click(function () {
            debugger;
            var checkdetail = new Object();
            checkdetail.BillNumber = $("#hdnBillNumberForCheque").val();
            checkdetail.BankName = $("#VoucherBankName").val();
            checkdetail.BankBranch = $("#VoucherBankBranch").val();
            checkdetail.ChequeNo = $("#VoucherChequeNo").val();
            checkdetail.ChequeDate = $("#VoucherChequeDate").val();
            checkdetail.IFCCode = $("#VoucherIFCCode").val();
            Checkbank.push(checkdetail);
            clearcontents();
            closepopup();
        });

        $(".btnclosechequedetail").click(function () {
            $('#ForChequePopup').removeClass("modal fade modal-overflow in");
            $('#ForChequePopup').removeAttr('style');
            $('#ForChequePopup').addClass("modal fade");
        });

        function closepopup() {
            $('#ForChequePopup').removeClass("modal fade modal-overflow in");
            $('#ForChequePopup').removeAttr('style');
            $('#ForChequePopup').addClass("modal fade");
        }

        function openpopup() {
            $("#ForChequePopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForChequePopup").css("display", "block");
        }

        $(".btnpopup").click(function () {
            debugger;
            var BillNumber = ($(this).closest('tr').find(".hdnBillNumber").val());
            for (var i = 0; i < Checkbank.length; i++) {
                if (Checkbank[i].BillNumber == BillNumber) {
                    $("#hdnBillNumberForCheque").val(Checkbank[i].BillNumber);
                    $("#VoucherBankName").val(Checkbank[i].BankName);
                    $("#VoucherBankBranch").val(Checkbank[i].BankBranch);
                    $("#VoucherChequeNo").val(Checkbank[i].ChequeNo);
                    $("#VoucherChequeDate").val(Checkbank[i].ChequeDate);
                    $("#VoucherIFCCode").val(Checkbank[i].IFCCode);
                }
            }
            $("#ForChequePopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForChequePopup").css("display", "block");
        });

        //Card
        $('.chkcard').change(function (e) {
            debugger;
            clearcontents2();
            if (this.checked) {
                openpopup2();
                $("#hdnBillNumberForCard").val($(this).closest('tr').find(".hdnBillNumber").val());
                var payment = $($(this).closest('tr').find(".hdnVoucherOutstandingAmount")).val()
                $(this).closest('tr').find('.chkcheque').prop('checked', false);
                $(this).closest('tr').find('.chkpay').prop('checked', false);
                $(this).closest('tr').find('.chkonline').prop('checked', false);

                // 02 Sep. 2020 Piyush Limbani
                if ($('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").is(':checked')) {
                    $('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").prop('checked', false);
                    $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                        $(row).closest("tr").find(".chkonline").prop('checked', false);
                        $(row).closest("tr").find(".chkselect").prop('checked', false);
                        $($(this).closest('tr').find("input[type=button]")[2]).hide();
                        $(row).find('.txtvouchercashamount').val(0);
                    });
                }
                $(this).closest('tr').find('.txtvouchercashamount').val(payment);
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                // 02 Sep. 2020 Piyush Limbani

                $($(this).closest('tr').find("input[type=button]")[1]).show();
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
                $(this).closest('tr').find('.chkadjustamount').prop('checked', false);
                $(this).closest('tr').find('.txtvoucheradjustamount').val("0");
            }
            else {
                $(this).closest('tr').find('.txtvouchercashamount').val("0");
                $(this).closest('tr').find('.chkselect').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
                clearcontents2();
            }
            var sum = 0;
            $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                debugger;
                var ischk = $(row).find("input[type=checkbox]")[0];
                var ischk2 = $(row).find("input[type=checkbox]")[1];
                var ischk3 = $(row).find("input[type=checkbox]")[2];
                var ischk4 = $(row).find("input[type=checkbox]")[3];
                if ($(ischk).is(':checked') || $(ischk2).is(':checked') || $(ischk3).is(':checked') || $(ischk4).is(':checked')) {
                    sum = +sum + +($(row).find(".txtvouchercashamount").val());
                }
            });
            $("#lblvouchergrandtotal").text(sum);
        });

        $(".btnsavecarddetail").click(function () {
            debugger;
            var checkdetailcard = new Object();
            checkdetailcard.BillNumber = $("#hdnBillNumberForCard").val();
            checkdetailcard.BankNameForCard = $("#VoucherBankNameForCard").val();
            checkdetailcard.TypeOfCard = $("#VoucherTypeOfCard").val();
            Checkbank2.push(checkdetailcard);
            clearcontents2();
            closepopup2();
        });

        $(".btnclosecarddetail").click(function () {
            $('#ForCardPopup').removeClass("modal fade modal-overflow in");
            $('#ForCardPopup').removeAttr('style');
            $('#ForCardPopup').addClass("modal fade");
        });

        function openpopup2() {
            $("#ForCardPopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForCardPopup").css("display", "block");
        }

        function closepopup2() {
            $('#ForCardPopup').removeClass("modal fade modal-overflow in");
            $('#ForCardPopup').removeAttr('style');
            $('#ForCardPopup').addClass("modal fade");
        }

        $(".btnpopupcard").click(function () {
            debugger;
            var BillNumber = ($(this).closest('tr').find(".hdnBillNumber").val());
            for (var i = 0; i < Checkbank2.length; i++) {
                if (Checkbank2[i].BillNumber == BillNumber) {
                    $("#hdnBillNumberForCard").val(Checkbank2[i].BillNumber);
                    $("#VoucherBankNameForCard").val(Checkbank2[i].BankNameForCard);
                    $("#VoucherTypeOfCard").val(Checkbank2[i].TypeOfCard);
                }
            }
            $("#ForCardPopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForCardPopup").css("display", "block");
        });

        //Online
        $('.chkonline').change(function (e) {
            debugger;
            clearcontents3();
            if (this.checked) {
                openpopup3();
                $("#hdnBillNumberForOnline").val($(this).closest('tr').find(".hdnBillNumber").val());
                var payment = $($(this).closest('tr').find(".hdnVoucherOutstandingAmount")).val()
                $(this).closest('tr').find('.txtvouchercashamount').val(payment);
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                $(this).closest('tr').find('.chkcheque').prop('checked', false);
                $(this).closest('tr').find('.chkpay').prop('checked', false);
                $(this).closest('tr').find('.chkcard').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[2]).show();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $(this).closest('tr').find('.chkadjustamount').prop('checked', false);
                $(this).closest('tr').find('.txtvoucheradjustamount').val("0");
            }
            else {
                $(this).closest('tr').find('.txtvouchercashamount').val("0");
                $(this).closest('tr').find('.chkselect').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                clearcontents3();
            }
            var sum = 0;
            $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                debugger;
                var ischk = $(row).find("input[type=checkbox]")[0];
                var ischk2 = $(row).find("input[type=checkbox]")[1];
                var ischk3 = $(row).find("input[type=checkbox]")[2];
                var ischk4 = $(row).find("input[type=checkbox]")[3];
                if ($(ischk).is(':checked') || $(ischk2).is(':checked') || $(ischk3).is(':checked') || $(ischk4).is(':checked')) {
                    sum = +sum + +($(row).find(".txtvouchercashamount").val());
                }
            });
            $("#lblvouchergrandtotal").text(sum);
        });

        // 02 Sep. 2020 Piyush Limbani
        $(".btnsaveonlinedetail").click(function () {
            debugger;
            if ($('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").is(':checked')) {
                $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                    var ischk = $(row).closest("tr").find("td").find(".chkselect");
                    if ($(ischk).is(':checked')) {
                        var checkdetailonline = new Object();
                        checkdetailonline.BillNumber = $(row).find(".hdnBillNumber").val();
                        checkdetailonline.BankNameForOnline = $("#VoucherBankNameForOnline").val();
                        checkdetailonline.UTRNumber = $("#VoucherUTRNumber").val();
                        checkdetailonline.OnlinePaymentDate = $("#VoucherOnlinePaymentDate").val();
                        Checkbank3.push(checkdetailonline);
                    }
                });
            }
            else {
                var checkdetailonline = new Object();
                checkdetailonline.BillNumber = $("#hdnBillNumberForOnline").val();
                checkdetailonline.BankNameForOnline = $("#VoucherBankNameForOnline").val();
                checkdetailonline.UTRNumber = $("#VoucherUTRNumber").val();
                checkdetailonline.OnlinePaymentDate = $("#VoucherOnlinePaymentDate").val();
                Checkbank3.push(checkdetailonline);
            }
            clearcontents3();
            closepopup3();
        });
        // 02 Sep. 2020 Piyush Limbani

        $(".btncloseonlinedetail").click(function () {
            $('#ForOnlinePopup').removeClass("modal fade modal-overflow in");
            $('#ForOnlinePopup').removeAttr('style');
            $('#ForOnlinePopup').addClass("modal fade");
        });

        function openpopup3() {
            $("#ForOnlinePopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForOnlinePopup").css("display", "block");
        }

        function closepopup3() {
            $('#ForOnlinePopup').removeClass("modal fade modal-overflow in");
            $('#ForOnlinePopup').removeAttr('style');
            $('#ForOnlinePopup').addClass("modal fade");
        }

        $(".btnpopuponline").click(function () {
            debugger;
            var BillNumber = ($(this).closest('tr').find(".hdnBillNumber").val());
            for (var i = 0; i < Checkbank3.length; i++) {
                if (Checkbank3[i].BillNumber == BillNumber) {
                    $("#hdnBillNumberForOnline").val(Checkbank3[i].BillNumber);
                    $("#VoucherBankNameForOnline").val(Checkbank3[i].BankNameForOnline);
                    $("#VoucherUTRNumber").val(Checkbank3[i].UTRNumber);
                    $("#VoucherOnlinePaymentDate").val(Checkbank3[i].OnlinePaymentDate);
                }
            }
            $("#ForOnlinePopup").removeClass("modal fade").addClass("modal fade modal-overflow in");
            $("#ForOnlinePopup").css("display", "block");
        });

        $(".txtvouchercashamount").on('blur', function (e) {
            var end = this;
            var cashamount = this.value;
            debugger;
            if (cashamount != 0 || cashamount != null) {
                var sum = 0;
                $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                    debugger;
                    var ischk = $(row).find("input[type=checkbox]")[0];
                    var ischk2 = $(row).find("input[type=checkbox]")[1];
                    var ischk3 = $(row).find("input[type=checkbox]")[2];
                    var ischk4 = $(row).find("input[type=checkbox]")[3];

                    if ($(ischk).is(':checked') || $(ischk2).is(':checked') || $(ischk3).is(':checked') || $(ischk4).is(':checked')) {
                        sum = +sum + +($(row).find(".txtvouchercashamount").val());
                    }
                });
                $("#lblvouchergrandtotal").text(sum);
            }
        });

        $('.chkadjustamount').change(function (e) {
            debugger;
            if (this.checked) {
                var payment = $($(this).closest('tr').find(".hdnVoucherOutstandingAmount")).val()
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                $(this).closest('tr').find('.chkcheque').prop('checked', false);
                $(this).closest('tr').find('.chkcard').prop('checked', false);
                $(this).closest('tr').find('.chkpay').prop('checked', false);
                $(this).closest('tr').find('.chkonline').prop('checked', false);

                // 02 Sep. 2020 Piyush Limbani
                if ($('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").is(':checked')) {
                    $('#ListDataTable2').children('thead').find("tr").find(".chkonlineAllOnline").prop('checked', false);
                    $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                        $(row).closest("tr").find(".chkonline").prop('checked', false);
                        $(row).closest("tr").find(".chkselect").prop('checked', false);
                        $($(this).closest('tr').find("input[type=button]")[2]).hide();
                        $(row).find('.txtvouchercashamount').val(0);
                    });
                }
                $(this).closest('tr').find('.txtvoucheradjustamount').val(payment);
                $(this).closest('tr').find('.chkselect').prop('checked', true);
                // 02 Sep. 2020 Piyush Limbani

                $($(this).closest('tr').find("input[type=button]")[0]).hide();
                $($(this).closest('tr').find("input[type=button]")[1]).hide();
                $($(this).closest('tr').find("input[type=button]")[2]).hide();
                $(this).closest('tr').find('.txtvouchercashamount').val("0");
            }
            else {
                $(this).closest('tr').find('.txtvoucheradjustamount').val("0");
                $(this).closest('tr').find('.chkselect').prop('checked', false);
                $($(this).closest('tr').find("input[type=button]")[0]).hide();
            }
        });

        // 02 Sep. 2020 Piyush Limbani
        $('#ListDataTable2').on('change', '.chkonlineAllOnline', function () {
            debugger;
            if ($(this).closest("tr").find(".chkonlineAllOnline").is(':checked')) {
                openpopup3();
                $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                    debugger;
                    $(row).closest("tr").find(".chkonline").prop('checked', true);
                    $(row).closest("tr").find(".chkselect").prop('checked', true);
                    $(row).closest("tr").find(".chkcard").prop('checked', false);
                    $(row).closest("tr").find(".chkcheque").prop('checked', false);
                    $(row).closest("tr").find(".chkpay").prop('checked', false);
                    $($(this).closest('tr').find("input[type=button]")[0]).hide();
                    $($(this).closest('tr').find("input[type=button]")[1]).hide();
                    $($(this).closest('tr').find("input[type=button]")[2]).show();
                    var payment = $($(row).find(".hdnVoucherOutstandingAmount")).val()
                    $(row).find('.txtvouchercashamount').val(payment);
                    var sum = 0;
                    $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                        debugger;
                        if ($(row).find('.chkonline').prop('checked') == true) {
                            var ischk = $(row).find('.chkselect');
                            if ($(ischk).is(':checked')) {
                                sum = +sum + +($(this).closest('tr').find(".txtvouchercashamount").val());
                            }
                        }
                    });
                    $("#lblvouchergrandtotal").text(sum);
                });
            }
            else {
                $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
                    debugger;
                    $(row).closest("tr").find(".chkonline").prop('checked', false);
                    $(row).closest("tr").find(".chkselect").prop('checked', false);
                    $($(this).closest('tr').find("input[type=button]")[2]).hide();
                    $(row).find('.txtvouchercashamount').val(0);
                    $("#lblvouchergrandtotal").text(0);
                });
            }
        });
        // 02 Sep. 2020 Piyush Limbani


        //$(".Add").click(function () {
        //    debugger;
        //    var InvoiceNo = $(this).attr('id');
        //    var txtfrom1 = $(this).attr('data-date');
        //    var custid = $(this).attr('data-cid');
        //    var txtfrom2 = new Date(txtfrom1);
        //    var txtfrom = txtfrom2.getMonth() + 1 + "/" + txtfrom2.getDate() + "/" + txtfrom2.getFullYear();
        //    var txtto = txtfrom2.getMonth() + 1 + "/" + (txtfrom2.getDate() + 1) + "/" + txtfrom2.getFullYear();
        //    $.ajax({
        //        url: '/wholesale/Orders/SearchViewBillWiseCreditMemoList',
        //        type: 'POST',
        //        data: {
        //            'custid': custid,
        //            'txtfrom': txtfrom,
        //            'txtto': txtto,
        //            'invoicenumber': InvoiceNo
        //        },
        //        cache: false,
        //        success: function () {
        //            window.location.href = '/wholesale/Orders/SearchViewBillWiseCreditMemoList';
        //        }
        //    });
        //});

    });

    function clearcontents() {
        $("#hdnBillNumberForCheque").val("");
        $("#VoucherBankName").val("");
        $("#VoucherBankBranch").val("");
        $("#VoucherChequeNo").val("");
        $("#VoucherChequeDate").val("");
        $("#VoucherIFCCode").val("");
    }

    function clearcontents2() {
        $("#hdnBillNumberForCard").val("");
        $("#VoucherBankNameForCard").val("");
        $("#VoucherTypeOfCard").val("");
    }

    function clearcontents3() {
        $("#hdnBillNumberForOnline").val("");
        $("#VoucherBankNameForOnline").val("");
        $("#VoucherUTRNumber").val("");
        $("#VoucherOnlinePaymentDate").val("");
    }

    function loadhtml() {
        location.reload();
    }

    function savevoucherpayment() {
        debugger;
        $('#btnsavevoucherpayment').attr('disabled', true);
        var data = [];
        $('#ListDataTable2').children('tbody').children('tr:visible').each(function (index, row) {
            var ischk = $(row).find("input[type=checkbox]")[5];
            if ($(ischk).is(':checked')) {
                var datadel = new Object();
                datadel.ExpensesVoucherID = $(row).find(".hdnExpensesVoucherID").val();
                datadel.CustomerID = $(row).find(".hdnVoucherCustomerID").val();
                datadel.BillNumber = $(row).find(".hdnBillNumber").val();
                datadel.ByCash = $(row).find("input[type=text]")[0].value;
                datadel.PaymentAmount = $(row).find(".hdnVoucherPaymentAmount").val();
                datadel.ByCheque = $($(row).find("input[type=checkbox]")[1]).is(':checked');
                if (datadel.ByCheque == true) {
                    for (var i = 0; i < Checkbank.length; i++) {

                        if (Checkbank[i].BillNumber == datadel.BillNumber) {
                            datadel.BankName = Checkbank[i]["BankName"];
                            datadel.BankBranch = Checkbank[i]["BankBranch"];
                            datadel.ChequeNo = Checkbank[i]["ChequeNo"];
                            datadel.ChequeDate = Checkbank[i]["ChequeDate"];
                            datadel.IFCCode = Checkbank[i]["IFCCode"];
                        }
                    }
                }
                datadel.ByCard = $($(row).find("input[type=checkbox]")[2]).is(':checked');
                if (datadel.ByCard == true) {
                    for (var i = 0; i < Checkbank2.length; i++) {

                        if (Checkbank2[i].BillNumber == datadel.BillNumber) {
                            datadel.BankNameForCard = Checkbank2[i]["BankNameForCard"];
                            datadel.TypeOfCard = Checkbank2[i]["TypeOfCard"];
                        }
                    }
                }
                datadel.ByOnline = $($(row).find("input[type=checkbox]")[3]).is(':checked');
                if (datadel.ByOnline == true) {
                    for (var i = 0; i < Checkbank3.length; i++) {

                        if (Checkbank3[i].BillNumber == datadel.BillNumber) {
                            datadel.BankNameForOnline = Checkbank3[i]["BankNameForOnline"];
                            datadel.UTRNumber = Checkbank3[i]["UTRNumber"];
                            datadel.OnlinePaymentDate = Checkbank3[i]["OnlinePaymentDate"];
                        }
                    }
                }
                datadel.AdjustAmount = $(row).find("input[type=text]")[1].value;
                datadel.Remark = $(row).find("input[type=text]")[2].value;
                datadel.GodownID = $("#VoucherGodownID").val();
                data.push(datadel);
            }
        });
        if (data.length > 0) {
            $.ajax({
                url: '@Url.Action("SaveExpenseVoucherPayment")',
                type: 'POST',
                data: { 'data': data },
                cache: false,
            }).done(function (result) {
                if (result == true) {
                    $('div#sucessalert').html("payment added successfully.");
                    $('div#lstcase').html("");
                    showhidealert();
                    loadhtml();
                }
            });
        }
        else {
            alert("please select atleast one payment to save");
            return false;
        }
    }

</script>

