@model List<vb.Data.GratuityMstListResponse>
@using vb.Data.ViewModel

<div class="box">
    <div class="box-header text-center">
        <h3 class="box-title">Gratuity List</h3>
    </div>
    <div class="box-body table-scrollable1">
        <table id="ListDataTable" class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>No Of Days In Month</th>
                    <th>Gratuity No Of Days In Year</th>
                    <th>Note</th>
                    @*@if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.EPurchaseType.ToString()))
                        {*@
                    <th>Edit</th>
                    @*}
                        @if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.DPurchaseType.ToString()))
                        {*@
                    <th>Status</th>
                    @*}*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.NoOfDaysInMonth
                        </td>
                        <td>
                            @item.GratuityNoOfDaysInYear
                        </td>
                        <td>
                            @item.Note
                        </td>

                        @*@if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.EPurchaseType.ToString()))
                            {*@
                        <td>
                            <a style="cursor:pointer;" class="btnedit" data-gratuityid="@item.GratuityID" data-noofdaysinmonth="@item.NoOfDaysInMonth" data-gratuitynoofdaysinyear="@item.GratuityNoOfDaysInYear" data-note="@item.Note" data-createdby="@item.CreatedBy" data-createdon="@item.CreatedOn">Edit</a>
                        </td>
                        @*}
                            @if (CommonMethod.IsActiveMenu(CommonMethod.RoleSystemName.DPurchaseType.ToString()))
                            {*@
                        @if (item.IsDelete == true)
                        {
                            <td>
                                @Html.ActionLink("Active", "DeleteGratuity", "Admin",
                        new { GratuityID = item.GratuityID, IsDelete = false },
                                        new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("DeActive", "DeleteGratuity", "Admin",
                           new { GratuityID = item.GratuityID, IsDelete = true },
                                        new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                            </td>
                        }
                        @*}*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#ListDataTable').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': false,
        'info': true,
        'autoWidth': false
    });

    $('#ListDataTable').on('click', '.btnedit', function () {
        debugger;
        $("#GratuityID").val($(this).attr("data-gratuityid"));
        $("#NoOfDaysInMonth").val($(this).attr("data-noofdaysinmonth"));
        $("#GratuityNoOfDaysInYear").val($(this).attr("data-gratuitynoofdaysinyear"));
        $("#Note").val($(this).attr("data-note"));
        $("#CreatedBy").val($(this).attr("data-createdby"));
        $("#CreatedOn").val($(this).attr("data-createdon"));
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
</script>
